/* 
Example html: 


    <ul class="tree">
        <li class="foldable">
            <input type="checkbox" id="item1">
            <label for="item1"></label>
            <span>Title of item 1</span>
            <ul>
                <li>1</li>
            </ul>
        <li><span>An outer item</span></li>
*/

ul.tree,
ul.tree ul {
    list-style-type: none;
}

ul.tree input[type='checkbox'] {
    display: none;
}

ul.tree li.foldable::before {
    content: '';
    width: 0em;
}

ul.tree input[type='checkbox']+label::before,
ul.tree li::before {
    content: '\25B7';
    position: relative;
    width: 1em;
    height: 1em;
}

ul.tree input[type='checkbox']:checked+label::before {
    content: '\25BD';
}

ul.tree input[type='checkbox']~ul {
    display: none;
}

ul.tree input[type='checkbox']:checked~ul {
    display: block;
}